/*#caixa{
    width: 300px;
    height: 300px;
    background: #b9c941;
    padding: 10px;
    margin: 10px;
    -webkit-border-radius: 15px 30px 5px 100px;
    -moz-border-radius: 15px 30px 5px 100px;
    border-radius: 15px 30px 5px 100px; 
    
    nao acrescenta os valores de padding na largura/altura da caixa 
    box-sizing: border-box;
}

.aredondamento{
    border-radius: 150px;
}*/

/* #caixa{
    width: 300px;
    height: 300px;
    /* background: url(../images/camera.png); */
    /* background: linear-gradient(95deg, red, black,yellow,blue);
    background: radial-gradient(red,black,yellow, blue);
} */

/* #caixa h1{
    background: rgba(255,255,255,0.6);
} */

/* #caixa{
    width: 300px;
    height: 300px;
    padding: 8px;
    margin: 20px;
    background: #009670;
    box-shadow: 20px 20px 20px 5px grey;
}

#caixa h1{
    color: #fff;
    text-shadow: 20px 20px 5px black;
} */

/* @keyframes animacao-caixa{
    from{
        background:red;
        border-radius: 0px;
        top: 0;
        left: 0;   
    }
    to{
        background:green;
        border-radius: 300px;
        top: 50px;
        left: 50px;
    }
}

#caixa{
    position: relative;
    margin: 15px;
    width: 300px;
    height: 300px;
    background: red;
    animation-name: animacao-caixa;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: 3;
    animation-direction: alternate;
} */

#conteudo{
    display: flex;
    background: #dcdcdc;
    height: 600px;

    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; */

}

.item{
    /* width: 100px; */
    height: 100px;
    margin: 10px;
    background: #fff;
    border: 1px solid red;

    flex-grow: 0;
    flex-basis: 100px;
    /* flex-shrink: 1; */
}

/* .item1{
    flex-grow: 1;
    flex-shrink: 1;
}

.item2{
    flex-grow: 2;
    flex-shrink: 2;
} */

/* .ordem1{
    order: 1;
}

.ordem2{
    order: 2;
}

.ordem3{
    order: 3;
}

.ordem4{
    order: 4;
} */